NEXT_PUBLIC_API_BASE_URL=https://hb1-b2b-dev-backend-a9cqhadub3c0fzcv.ukwest-01.azurewebsites.net
NEXT_PUBLIC_WEB_DOMAIN=hb1-b2b-dev-admin-a0ejezg4becaddh9.ukwest-01.azurewebsites.net
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
